<section class="header">
  <div class="row header-div">

    <div class="logo col-md-1">
      <a routerLink="/home/"> <img src="../../../assets/logo.png" alt=""></a>
    </div>

    <div class="col-md-11">

      <h2 class="project-name" style="text-align: center;"> Garage Management System </h2>

      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/home" class="nav-link">Home</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/home/about-us" class="nav-link">About us</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/home/faqs" class="nav-link">Faqs</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/home/contact-us" class="nav-link">Contact us</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/auth/login" class="nav-link">Login</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>

    </div>
  </div>
</section>


<div class="container-fluid">
  <div class="row sub-container">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/g1.jpg" class="d-block w-100" alt="cars-image">
          </div>
          <div class="carousel-item">
            <img src="assets/garage2.jpg" class="d-block w-100" alt="cars-image">
          </div>
          <div class="carousel-item">
            <img src="assets/garage3.jpg" class="d-block w-100" alt="cars-image">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

  </div>

  <div class="row half-main-container" style="height: 600px;">

    <div class="col-md-4 half-container HC-1">
      <h1 class="half-container-heading">Why We?</h1>
      <div class="content">
        <p>
          All leading auto repair shops in the world use garage management software. Choosing among the best is however
          not an easy task.
        </p>
        <p>
          GMS is packed with easy-to-use features designed to make managing your garage operation easier, efficient and
          most importantly profitable.
        </p>
        <p>
          Getting started is completely free! It takes 2 minutes to get started with Sayaaraa. Try out every feature
          free for 15 days.
        </p>
      </div>
    </div>

    <div class="col-md-4 half-container">
      <img src="assets/HC-1.jpg" alt="">
    </div>

    <div class="col-md-4 half-container HC-2">
      <div class="quarter-container">
        <p>
          Provide Better Service.
        </p>
        <hr>
        <p>
          All Services Under one roof.
        </p>
        <hr>
        <p>
          Anytime Quick Service
        </p>
        <hr>
        <p>
          Free updates.
        </p>
      </div>
      <div class="quarter-container">
        <p>
          Dellivery In Given Time
        </p>
        <hr>
        <p>
          Branded Products.
        </p>
        <hr>
        <p>
          Instant Support
        </p>
        <hr>
        <p>
          Customisable
        </p>
      </div>

    </div>
  </div>
</div>


<section class="footer">

  <div class="container-fluid">
    <div class="row" style="text-align: center;">

      <div class="col-md-3 footer-col">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| OFFICE |</li>
          <li><span class="footer-text">Address line 1</span></li>
          <li><span class="footer-text">Address line 2</span></li>
          <li><span class="footer-text">Address line 3</span></li>
          <li><span class="footer-text">Address line 4</span></li>
        </ul>
      </div>

      <div class="col-md-3 footer-col">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| CONTACT US |</li>
          <li><span class="footer-text">+9876543210</span></li>
          <li><span class="footer-text">+1234567890</span></li>
          <li><span class="footer-text">info@gms.com</span></li>
          <li><span class="footer-text">contact@gms.com</span></li>
        </ul>
      </div>

      <div class="col-md-3 footer-col">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| KNOW MORE |</li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="col-md-3 footer-col">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| GET LATEST NEWS |</li>
          <li class="footer-text">
            <span>
              <img class="social-logo" src="assets/facebook.svg" alt="">
              <a href="https://www.facebook.com/">FaceBook</a>
            </span>
          </li>
          <li class="footer-text">
            <span>
              <img class="social-logo" src="assets/twitter.svg" alt="">
              <a href="https://twitter.com/?lang=en">Twitter</a>
            </span>
          </li>
          <li class="news">
            <span>
              <img class="social-logo" src="assets/instagram.svg" alt="">
              <a href="https://www.instagram.com/">Instagram</a>
            </span>
          </li>
          <li class="news">
            <span>
              <img class="social-logo" src="assets/youtube.svg" alt="">
              <a href="https://www.youtube.com/">YouTube</a>
            </span>
          </li>

        </ul>
      </div>

    </div>
  </div>

</section>
