<div class="card">
  <div class="card-header">
    <h1 class="final_invoice">Generate Invoice</h1>
  </div>
  <div class="card-body">
      <h3 class="cust_details">Customer Details</h3>
    <div class="form">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Name</label>
            <input *ngIf='customer' [(ngModel)]="name" type="text" class="form-control" readonly >
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Email</label>
            <input  [(ngModel)]="email" type="email" class="form-control" readonly>
          </div>
        </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="">Password</label>
          <input  [(ngModel)]="password" type="password" class="form-control" readonly>

        </div>
      </div>


    <div class="col-md-6">
      <div class="form-group">
        <label for="">BirthDate</label>
        <input [(ngModel)]="birth_date" type="date" class="form-control" readonly>
      </div>
    </div>

   <div class="col-md-6">
    <div class="form-group">
      <label for="">Employee_Id</label>
      <input [(ngModel)]="employee_id" type="number" class="form-control" readonly>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="">Address</label>
      <input [(ngModel)]="address" type="text" class="form-control" readonly>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="">Contact</label>
      <input [(ngModel)]="contact" type="text" class="form-control" readonly>
    </div>
  </div>
</div>
</div>
</div>





<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
      <h3 class="cust_details">Vehical Details</h3>

    <div class="form">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Vehicle Registration No</label>
            <input [(ngModel)]="vehicle_reg_no" type="text" class="form-control" readonly>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Vehicle Type</label>
            <input [(ngModel)]="vehicle_type" type="text" class="form-control" readonly>
          </div>
        </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="">Vehicle Brand</label>
          <input [(ngModel)]="vehicle_brand" type="text" class="form-control" readonly>

        </div>
      </div>


    <div class="col-md-6">
      <div class="form-group">
        <label for="">Vehicle Model</label>
        <input [(ngModel)]="vehicle_model" type="text" class="form-control" readonly>
      </div>
    </div>

    <h3 class="cust_details">Charges Details</h3>


   <div class="col-md-6">
    <div class="form-group">
      <label for="">delivery_type</label>
      <input [(ngModel)]="delivery_type" type="text" class="form-control" readonly>
    </div>
  </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Service Date</label>
        <input [(ngModel)]="service_date" type="date" class="form-control" readonly>
      </div>
    </div> 

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Out Date</label>
        <input [(ngModel)]="out_date" type="date" class="form-control" readonly>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Product Charges</label>
        <input [(ngModel)]="product_charges" type="number" class="form-control" readonly>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Labour Charges</label>
        <input [(ngModel)]="labour_charges" type="number" class="form-control" readonly>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Discount</label>
        <input [(ngModel)]="discount" type="number" class="form-control" readonly>
      </div>
    </div>

     <div class="col-md-6">
      <div class="form-group">
        <label for="">Total Bill</label>
        <input [(ngModel)]="total" type="number" class="form-control" readonly>
      </div>
    </div> 


      <div class="form-group">

      <button (click)="onPrint()" class="btn btn-primary ml-5">Print</button> 
      <button (click)="onCancel()" class="btn btn-danger ml-5">Cancel</button> 

      </div>


    </div>
  </div>
</div>
