

<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
<div class="card">
    <div class="card-header">
      <h4>{{customer ? 'Update' : 'Add'}} Customer</h4>
    </div>
    <div class="card-body">
      <div class="form">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Name</label>
              <input [(ngModel)]="name" type="text" class="form-control" >
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="">Email</label>
              <input *ngIf = "customer" [(ngModel)]="email" type="email" class="form-control" readonly>
              <input *ngIf = "!customer" [(ngModel)]="email" type="email" class="form-control" >
            </div>
          </div>


        <div class="col-md-6">
          <div class="form-group">
            <label for="">Password</label>
            <input *ngIf = "customer" [(ngModel)]="password" type="password" class="form-control" readonly>
            <input *ngIf = "!customer" [(ngModel)]="password" type="password" class="form-control">

          </div>
        </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="">BirthDate</label>
          <input [(ngModel)]="birth_date" type="date" class="form-control">
        </div>
      </div>

<!--     <div class="col-md-6">
      <div class="form-group">
        <label for="">Employee_Id</label>
        <input [(ngModel)]="employee_id" type="number" class="form-control">
      </div>
    </div> -->

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Address</label>
        <input [(ngModel)]="address" type="text" class="form-control">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Contact</label>
        <input [(ngModel)]="contact" type="text" class="form-control">
      </div>
    </div>

        <div class="form-group">
           <button (click)="onUpdate()" class="btn btn-success">{{customer ? 'Update' : 'Add'}}</button>
          <a style="margin-left: 10px;" routerLink="/employee/customer-list" class="btn btn-danger">Cancel</a>


        </div>


      </div>
    </div>
  </div>
