/* =============================================================================================== */
/* ============================================ Header =========================================== */
/* =============================================================================================== */
.header-div {
  background-color: #141414;
  color: white;
  height: 125px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo img {
  height: 100px;
}

.project-name {
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

.navbar-nav{
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  justify-content: center;
}


.nav-item:hover{
  /* background-color: #808080; */
  border: solid 1px whitesmoke;
}

.nav-link {
  font-size: larger;
  width: 130px;
  text-align: center;
}

/* =============================================================================================== */
/* ============================================ Body ============================================= */
/* =============================================================================================== */

.main-content{
  background-image: url("../../../assets/faqs.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.MHC-1{
  padding: 100px;
}

.faq-heading{
  color: #808080;
  height: 60px;
}

.faq-heading:hover{
  color: aqua;
}

span, span a{
  text-decoration: none;
  color: aqua;
}

.faq-div{
  padding: 30px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 10px 0px rgba(235, 229, 229, 0.75);
  height: 150px;
  border-radius: 40px;
}

.faq-div:hover{
  box-shadow: 5px 5px 10px 0px rgba(221, 39, 39, 0.75);
}


.question{
  font-weight: 100px;
  color: white;
}

/* =============================================================================================== */
/* =========================================== Footer ============================================ */
/* =============================================================================================== */

.footer{
  background-color: #141414;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-top: 10px;
}

.footer ul li a, .footer-text{
  color: #808080
}

.footer-text:hover{
  color: white;
}

.social-logo {
  width: 20px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.copyright {
  margin-top: 15px;
}

.news{
  margin: 0%;
}
