.main-container {
  background: linear-gradient(to right, #000428, #004e92);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.sub-container,
.HC-1 img {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sub-container,
.HC-1,
.HC-2 {
  height: 600px;
}

.sub-container {
  position: relative;
  padding: 0;
}

.HC-1 {
  width: 40%;
}

.HC-2 {
  width: 60%;
}

.HC-1 img {
  position: absolute;
}

.profile-container {
  padding: 30px;
  color: whitesmoke;
}

#signup-heading {
  color: aqua;
  text-align: center;
  text-transform: uppercase;
}

.form-label {
  text-transform: uppercase;
  font-weight: 500;
}

#inputAddress {
  resize: none;
  padding: 30px;
}

.btn-warning {
  margin-left: 100px;
}
