<section class="header">
  <div class="row header-div">

    <div class="logo col-md-1">
      <a routerLink="/home/"> <img src="../../../assets/logo.png" alt=""></a>
    </div>

    <div class="col-md-11">

      <h2 class="project-name" style="text-align: center;"> Garage Management System </h2>

      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/home" class="nav-link">Home</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/home/about-us" class="nav-link">About us</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/home/faqs" class="nav-link">Faqs</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/home/contact-us" class="nav-link">Contact us</a>
              </li>
              <li class="nav-item" style="margin-left: 50px;">
                <a routerLink="/auth/login" class="nav-link">Login</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>

    </div>
  </div>
</section>

<section class="main-content">
  <div class="container">

    <div class="row main-half-container MHC-1">

      <div class="row">
        <h1 style="opacity: 0.5;height: 50px;">FAQs</h1>

        <span>
          <h1 class="faq-heading">Frequently Asked Question
          </h1>
          <hr style="opacity: 1;">
          <a routerLink="/home/contact-us"> Contact us</a>  anytime if you need further assistance
        </span>
      </div>

      <div class="row" style="margin-top: 50px;">

        <div class="col-md-12 faq-div" style="border: solid white;">
          <h3 class="question">
            What is GMS?
          </h3>
          <span>
            GMS is an all-in-one excellent digital platform for automobile garages that helps them to manage and
            reduce the administration work & time and helps to grow their business.
            GMS built by automobile domain experts to keep track of customers who visits the garage.
          </span>
        </div>

        <div class="col-md-12 faq-div" style="border: solid white;">
          <h3 class="question">
            Is my data safe?
          </h3>
          <span>
            Yes, GMS adopts high encryption and physical security measures to guard against unauthorized access to data.
            For more information please read our Privacy Policy and Terms & Conditions.
          </span>
        </div>

        <div class="col-md-12 faq-div" style="border: solid white;">
          <h3 class="question">
            Will updates be available to me? Will you charge extra for the updates?
          </h3>
          <span>
            Yes, and all the updates will be available to you free of cost.
          </span>
        </div>

        <div class="col-md-12 faq-div" style="border: solid white;">
          <h3 class="question">
            Is a monthly pass plan available?
          </h3>
          <span>
            No, currently we dont have monthly pass plans.
          </span>
        </div>

        <div class="col-md-12 faq-div" style="border: solid white;">
          <h3 class="question">
            Can I get part of my car?
          </h3>
          <span>
            Yes, We have all branded parts for all cars.
          </span>
        </div>

        <div class="col-md-12 faq-div" style="border: solid white;">
          <h3 class="question">
            Other Questions?
          </h3>
          <span>
            For non-listed Faqs you can contact <a routerLink="/home/contact-us"> Here </a>
          </span>
        </div>

      </div>


    </div>

  </div>
</section>



<section class="footer">

  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| OFFICE |</li>
          <li><span class="footer-text">Address line 1</span></li>
          <li><span class="footer-text">Address line 2</span></li>
          <li><span class="footer-text">Address line 3</span></li>
          <li><span class="footer-text">Address line 4</span></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| CONTACT US |</li>
          <li><span class="footer-text">+9876543210</span></li>
          <li><span class="footer-text">+1234567890</span></li>
          <li><span class="footer-text">info@gms.com</span></li>
          <li><span class="footer-text">contact@gms.com</span></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| KNOW MORE |</li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| GET LATEST NEWS |</li>
          <li class="footer-text">
            <span>
              <img class="social-logo" src="assets/facebook.svg" alt="">
              <a href="https://www.facebook.com/">FaceBook</a>
            </span>
          </li>
          <li class="footer-text">
            <span>
              <img class="social-logo" src="assets/twitter.svg" alt="">
              <a href="https://twitter.com/?lang=en">Twitter</a>
            </span>
          </li>
          <li class="news">
            <span>
              <img class="social-logo" src="assets/instagram.svg" alt="">
              <a href="https://www.instagram.com/">Instagram</a>
            </span>
          </li>
          <li class="news">
            <span>
              <img class="social-logo" src="assets/youtube.svg" alt="">
              <a href="https://www.youtube.com/">YouTube</a>
            </span>
          </li>

        </ul>
      </div>

    </div>
  </div>

</section>

<router-outlet></router-outlet>
