<section class="header">
  <div class="row header-div">

    <div class="logo col-md-1">
      <img src="../../../assets/logo.png" alt="">
    </div>

    <div class="col-md-11">

      <h2 class="project-name" style="text-align: center;"> Garage Management System </h2>

      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

              <li class="nav-item nav-li">
                <img class="user-logo" src="assets/user.png" alt="user-logo">
                {{ email }}
              </li>

              <li class="nav-item">
                <a routerLink="/admin/home" class="nav-link">Home</a>
              </li>

              <li class="nav-item" style="margin-left: 100px;">
                <a routerLink="/admin/vendor-list" class="nav-link">Vendor Management</a>
              </li>

              <li class="nav-item" style="margin-left: 100px;">
                <a routerLink="/admin/feedback" class="nav-link">FeedBack</a>
              </li>

              <li (click)="onLogout()" class="nav-item" style="margin-left: 100px;">
                <a class="nav-link">Logout</a>
              </li>

            </ul>
          </div>

        </div>
      </nav>

    </div>
  </div>
</section>

<section class="main-content">
  <div class="row">
    <div class="row dashboard-components-container">

      <div class="col-md-3">
        <div class="info info-orange">
          <div class="header">VENDOR</div>
          <span>{{vendorsCount}}</span>
          <img src="assets/user-icon.png" alt="">
        </div>
      </div>

      <div class="col-md-3">
        <div class="info info-green">
          <div class="header">EMPLOYEE</div>
          <span>{{employeesCount}}</span>
          <img src="assets/user-icon.png" alt="">
        </div>
      </div>

      <div class="col-md-3">
        <div class="info info-brown">
          <div class="header">CUSTOMER</div>
          <span>{{customersCount}}</span>
          <img src="assets/user-icon.png" alt="">
        </div>
      </div>

      <div class="col-md-3">
        <div class="info info-blue">
          <div class="header">FEEDBACK</div>
          <span>{{feedbackCount}}</span>
          <img src="assets/service-icon.png" alt="">
        </div>
      </div>

    </div>

    <div class="row sub-container">
      <div class="col-md-12">
        <img class="cover" src="assets/customer_cover.jpg" alt="">
      </div>
    </div>

  </div>
</section>

<section class="footer">

  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| OFFICE |</li>
          <li><span class="footer-text">Address line 1</span></li>
          <li><span class="footer-text">Address line 2</span></li>
          <li><span class="footer-text">Address line 3</span></li>
          <li><span class="footer-text">Address line 4</span></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| CONTACT US |</li>
          <li><span class="footer-text">+9876543210</span></li>
          <li><span class="footer-text">+1234567890</span></li>
          <li><span class="footer-text">info@gms.com</span></li>
          <li><span class="footer-text">contact@gms.com</span></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| KNOW MORE |</li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li class="footer-text" style="font-weight: bolder">| GET LATEST NEWS |</li>
          <li class="footer-text">
            <span>
              <img class="social-logo" src="assets/facebook.svg" alt="">
              <a href="https://www.facebook.com/">FaceBook</a>
            </span>
          </li>
          <li class="footer-text">
            <span>
              <img class="social-logo" src="assets/twitter.svg" alt="">
              <a href="https://twitter.com/?lang=en">Twitter</a>
            </span>
          </li>
          <li class="news">
            <span>
              <img class="social-logo" src="assets/instagram.svg" alt="">
              <a href="https://www.instagram.com/">Instagram</a>
            </span>
          </li>
          <li class="news">
            <span>
              <img class="social-logo" src="assets/youtube.svg" alt="">
              <a href="https://www.youtube.com/">YouTube</a>
            </span>
          </li>

        </ul>
      </div>
    </div>
  </div>

</section>
